.navbar{
    width:100%;
    padding:20px 6%;
    display: flex; /*to align horizontally*/
    justify-content:space-between;
    position:fixed; /*fixed at the top*/
    font-size:14px;
    color: #e5e5e5;
    background-image:linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index:1;
}